.h-100vh{
    height: 100vh;
}
.h-80vh{
    height: 80vh;
}
.h-60vh{
    height: 60vh;
}
.h-40vh{
    height: 40vh;
}
.h-20vh{
    height: 20vh;
}
.h-10vh{
    height: 10vh;
}
.pb-7{
    padding-bottom: 70px;
}

.w-320{
    min-width: 320px!important;
}

.mt-7{
    margin-top: 7rem!important;
}