.inner {
  width: 300px;
  text-align: center;
}

.back {
  position: absolute;
  top: 20px;
  left: 10px;
}

.search {
  position: absolute;
  top: 20px;
  right: 10px;
}

.product-picture {
  margin: 30px 0 0 0;
}

.product-picture img {
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 1em grey;
}

.product-title {
  font-size: 18px;
}

.table-number {
  font-size: 50px;
}

.table {
  line-height: 60px;
}

.table button {
  color: black;
  background: transparent;
  border: 0px solid black;
  border-radius: 2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  /*   box-shadow: 0 2px 1em grey; */
  /* box-shadow: 0 2px 1em grey; */
}

.table button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  -moz-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}

button:disabled {
  opacity: 0.65;
}

.minus {
  float: left;
}

.plus {
  float: right;
}

.date-title {
  margin-top: 30px;
}

.date-picker {
  width: 100%;
  position: relative;
  margin: auto;
}

.date-picker > input {
  font-size: 20px;
  position: absolute;
}

// sample
#number {
  min-width: 100px;
  text-align: center;
  font-size: 30px;
}
#number:after {
  height: 70px;
  content: attr(data-content);
}

.bounce {
  animation: changeLetter 0.4s linear alternate;
}

@keyframes changeLetter {
  0% {
    font-size: 35px;
    -webkit-transform: rotate(2deg);
  }
  50% {
    font-size: 35px;
    -webkit-transform: rotate(-5deg);
  }
  100% {
    font-size: 35px;
    -webkit-transform: rotate(0deg);
  }
}

.control {
  color: $primary;
  user-select: none;
  cursor: pointer;
  border-radius: 60px;
  font-size: 30px;
  background: #fff;
  border: 1px solid #f1f1f1;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-list{
  padding: 0px;
  li{
    display: inline-block;
    padding: 10px;
    background-color: $white;
    border:1px solid #f1f1f1;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    // transition: all 1s;
    &:hover{
      background-color: $primary;
      color: $white;
    }
  }
}