// Overflow Hidden
.o-hidden {
  overflow: hidden !important;
}

.justify-contnet-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}

.h-100vh{
  height: 100vh;
}
.h-80vh{
  height: 80vh;
}