.daterangepicker .ranges li.active{
    background-color: #8443FF!important;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #8443FF!important;
}
.daterangepicker td.in-range{
    background-color: #eee6ff!important;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #8443FF!important;
    color: #fff!important;
}

.btn-primary, .btn-dark, .btn-success, .btn-secondary, .btn-warning{
    padding: 0.375rem 1rem!important;
    border-radius: 35px;
    min-width: 100px;
}

.modal-header{
  background-color: #000 !important;
  color: #fff;
}
.close{
    color: #fff;
    text-shadow: none;
}
.close:hover{
    color: #fff;
    text-shadow: none;
}
.modal-footer {
  background-color: #f7f7f9 !important
}
.modal-content {
  border-radius: 4px !important;
}
form.user .form-control-user{
    border-radius: 0px;
}


/* cards strat */
.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 2em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 22px;
    display: block;
    font-weight: 600;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }
/* end cards strat */
.card-block{
    box-shadow: 2px 2px 10px #DADADA;
    padding: 2rem;
    min-height: 222px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list-group{
    display: flex;
    flex-direction: unset;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0px;
}
.list-group-item{
    border: none;
    text-align: center;
}
.list-group-item.active{
    background-color: #8443ff;
}
.card-counter2{
  height:auto;
}
@media (max-width: 768px) {
  .card-counter2{
    height: auto;
  }
}

@media (max-width: 576px) {
    .d-sm-block{
        display: block!important;
    }
    .mr-sm-0{
        margin-right: 0px;
    }
    .card-counter2{
      height: auto;
    }
}




.not-avaialble{
  text-decoration: line-through;
  background-color: #ffdddb!important;
  color: #ec3535!important;
  border-color: #f08a8d !important;
  cursor: not-allowed!important;
}
.fc-v-event .fc-event-main{
  background-color: #222222!important;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
  background-color: #222222!important;
  padding: 5px;
  color: #fff!important;
}
.fc-daygrid-event-dot{
  border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid var(--fc-event-border-color, #8443FF);
}
.s-v{
  padding: 4rem;
  background: #f3eefd;
  border-radius: 160px;
  width: 130px;
}
.busy{
  padding: 4rem;
  background: #fdeef5;
  border-radius: 160px;
  width: 130px;
}

.icon-report{
  font-size: 40px;
  color: #999;
  margin-bottom: 30px;
}

.report-body{
}
.opacity-1{
  opacity: 0.5;
}